/*
!/falloutmod
!/falloutmod/*
!falloutmod.mod
!.gitignore
!README.md

/falloutmod/_dev/

#Model source code
modelsource/
screenshots/
falloutmod/gfx/leaders/DES/Portrait_DES_LeadRazor.dds
falloutmod/localisation/fallout_national_focus_l_english.yml
falloutmod/localisation/fallout_national_focus_l_english.yml
